extends layout
append head
	script(src="/JS/feed.js", type='module')
	link(href='/stylesheets/header-footer.css' rel='stylesheet')
	link(rel='stylesheet' href='/stylesheets/feed.css')
	body
		div(class="Header")
				div(class="left-items")
					div(id='minilogo')
					a(href='/stories/submit-story' id='submit-story-link-button' class='link-button') Submit Story
				div(class="right-items")
					form(method='POST', action="/users/logout" class="logout")
						input(type="hidden" name="_csrf" value=csrfToken)
						button(type="submit") Logout
						a(href='/users/profile' id='user-profile-button' class='link-button') Profile
		div(class="Left-Sidebar")
		div(id="mainContent" class="mainContent")
			div(id="featured" class="featured")
				div(id="featured-container" class="featured-container")
					div(id="featured-comments" class="featured-comments")
			div(id="feed-items" class="feed-items")
				div(id="feed-container" class="feed-container")
					div(id="feed-comments" class="feed-comments")
		div(class="Footer")
			div(id='app-academy-logo') App Academy Logo
			div(id='creators-info')
				div(id='robert-link')
				div(id='jackson-link')
				div(id='troy-link')
				div(id='josh-link')