//- extends layout
//- append head
//- 		script(src='/JS/splash.js' type='module')
//- 		script(src="/JS/feed.js", type='module')
//- 		link(rel='stylesheet' href='/stylesheets/feed.css')
//- append header
//- block left
//- block content
//- 	div(id="mainContent" class="mainContent")
//- 	div(id="featured" class="featured")
//- 		div(id="featured-container" class="featured-container")
//- 			div(id="featured-comments" class="featured-comments")
//- 	div(id="feed-items" class="feed-items")
//- 		div(id="feed-container" class="feed-container")
//- 			div(id="feed-comments" class="feed-comments")
