extends layout


block head


block content
	div(id="mainContent" class="mainContent")
		div(id="story" class="story")
			div(id="stats" class="stats")
			//- stats encompases likes and comments

append head
	script(src="/JS/feed.js", type=module)


block footer
