block head 
block content
	div
		form(method='POST', action="/users/login")
			input(type="hidden" name="_csrf" value=csrfToken)
			input(type='string' name='email' placeholder='email' required)
			input(type='password' name='password' placeholder='password' required)
			button(type="submit") Login
block footer