extends layout
block head
block content
    h1 Welcome to Median
    div
        form(method='POST', action="/users/login")
            input(type="hidden" name="_csrf" value=csrfToken)
            input(type='string' name='email' placeholder='email' required)
            input(type='password' name='password' placeholder='password' required)
            button(type="submit") Login
    div
        form(method='POST', action="/users/signup")
            input(type="hidden" name="_csrf" value=csrfToken)
            input(type='string' name='email' placeholder='email' required)
            input(type='string' name='firstName' placeholder='First Name')
            input(type='string' name='lastName' placeholder='Last Name')
            input(type='password' name='password' placeholder='Password' required)
            input(type='password' name='confPassword' placeholder='Confirm Password' required)
            input(type='string' name='gender' placeholder='Gender')
            input(type='string' name='avatar' placeholder='ImageUrl')
            button(type="submit") Sign Up
    div
        form(method="POST" action="/users/demo-user")
            input(type="hidden" name="_csrf" value=csrfToken)
            button(type="submit") Demo login
block footer
