doctype html
html(lang="en")
append head
link(rel= "stylesheet" href="/stylesheets/story-submit.css")
title Submit-Story
body
            div(class="story-form")
            form(method='POST', action="api/stories/")
            div(class="input-boxes")
                input(type="hidden" name="_csrf" value=csrfToken)
                input(type='string' name='imgUrl' placeholder='image' required value= email)
                textarea(class="story-input" placeholder="Start writing here")
                input(type='string' name='title' placeholder='Title' value= gender)
                button(type="submit") Submit Story
block footer
