/*=========================Featured Story==============================*/
.featured-container {
  background-color: rgba(73, 74, 143, 0.45);
	border-radius: 2.5px;
	flex-direction: column;
  margin: 5vh 10vh;
  padding: 0;
  overflow: hidden;
  width: 60vw;
  margin-top: 10vh;
  margin-left: 20vw;
  transition: all 0.5s;
}

.featured-container:hover {
	background-color: rgba(73, 74, 143, 0.75);
	border-radius: none;
}

.featured-story-img>img{
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.featured-story-img{
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
}

.featured-story-heading{
  margin-left: 2.5vh;
  margin-right: 2.5vh;
}

.featured-story-heading>h1{
  font-size: 2rem;
  font-weight: 500;
  padding-left: 2vw;
}

.story-information {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.user-information {
  display: flex;
	align-items: center;
	margin: 1vh;
	font-weight: 400;
}

.avatar {
  height: 4vh;
  width: 4vh;
  object-fit: cover;
  border-radius: 50px;
  border: 0;
  margin-right: 1vh;
  margin-left: 3vw;
}

.likediv {
    width: 2.5vw;
    height: 1.75vw;
    padding: 0.25vw;
    margin: 1.5vw;
    border-radius: 5px;
    display: flex;
    justify-self: flex-end;
    align-items: center;
    opacity: 50%;
}


.thumbsup{
  width: 1.5vw;
  /* transition: all 0.1s; */
}

/* .thumbsup:hover{
cursor: pointer;
  opacity: 100%;
  padding: -1;
} */

.likeScore {
	text-decoration: bold;
	margin: 5px;
}

.story-feed-ul{
  margin: 0;
  padding: 0;
}

.featured-story-text{
  margin-top: 2.5vh;
  margin-bottom: 0;
  margin-left: 3.5vw;
  margin-right: 3.5vw;
  font-size: 1rem;
  font-weight: 375;
}

.featured-comments{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 1.5vw;
  margin-left: 1.5vw;
}

@media only screen and (min-width: 1250px) {
  .featured-story-text{
    margin-right: 6vw;
  }
  .featured-comments{
    display: flex;
    align-items: flex-start;
}
}
.featured-comments>ul{
  margin: 0 2vh 1vh -5vh;
}

.featured-comment{
  background-color: #1f1f3571;
  margin-left: 2vw;
  padding: 1vh;
  border-radius: 5px;
}

.featured-comment-avatar {
	height: 3vh;
  width: 3vh;
  object-fit: cover;
  border-radius: 50px;
  border: 0;
}

.featured-comment-userName{
  font-size: 0.95rem;
  font-weight: 300;
}

.featured-comment-date{
  font-size: 0.5rem;
  font-weight: 100;
}

.featured-comment-body{
  font-size: 0.80rem;
  font-weight: 300;
}

/*=========================Feed==============================*/
.feed-container {
	border-radius: 2.5px;
  margin: 5vh 10vh;
  padding: 0;
  overflow: hidden;
  width: 55vw;
  margin-left: 22vw;
}

.shortened-story {
	background-color: rgba(73, 74, 143, 0.4);
	border-radius: 2.5px;
	margin-bottom: 2.5vh;
	height: 12vh;
	transition: all 0.5s;
	overflow: hidden;
}

.shortened-story:hover {
	background-color: rgba(73, 74, 143, 0.75);
	border-radius: 1px;
	padding: -1px;
}

.shortened-story-heading{
  display: flex; 
  align-items: flex-start;
  padding: 0;
}

.shortened-story-stack{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50vw;
}

.shortened-story-img {
	height: 20vh;
  width: 8vw;
  object-fit: cover;
  object-position: 33% 33%;
  border-radius: 2.5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0.5vw;
}

.shortened-story-title {
	font-size: 1.25rem;
	font-weight: 400;
	margin-left: 2vh;
	margin-right: 1vw;
}

.shortened-story-author{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2vh;
	margin-right: 1vw;
}

.shortened-story-avatar {
  height: 2.5vh;
  width: 2.5vh;
  object-fit: cover;
  border-radius: 50px;
  border: 0;
}

.shortened-story-name {
	font-size: 0.65rem;
	margin-left: 0.5vw;
}

.shortened-likediv{
  height: 20vh;
  width: 12vw;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-right: 1vw;
  margin-top: 4.5vh;
}

.shortened-story-thumbsup{
  opacity: 100%;
  width: 2.5vh;
  margin-right: 0.25vw;
}
/* .shortened-story-thumbsup:hover{
  opacity: 100%;
	padding: 1;
} */

/* .shortened-story-likes-amount {
	margin: 1vw;
} */