.mainContent {
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-direction: column;
}

.feed-container {
	width: 100%;
	flex-direction: column;
}

.featured-container {
	background-color: rgba(73, 74, 143, 0.1);
	border-radius: 3%;
	margin-top: 5px;
	padding: 5px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.featured-story-img {
	padding-top: 5%;
	align-self: center;
}

.avatar {
	height: 25px;
	width: 25px;
	border-radius: 50%;
}

.shortened-story {
	background-color: rgba(73, 74, 143, 0.1);
	border-radius: 1%;
	padding: 5px;
	margin: 5px 5px
}

.featured-comment-avatar {
	max-height: 15px;
	max-width: 15px;
	border-radius: 50%;
}

.shortened-story-avatar {
	max-height: 25px;
	max-width: 25px;
	border-radius: 50%;
}

.shortened-story-img {
	max-height: 15px;
	max-width: 15px;
}

#miniLogo {
	height: 100%;
	/* background-color: #F0EAE4; */
	/* margin: 0 auto; */
}

.avatar {
	width: 25px;
	height: 25px;
	border-radius: 50%;
}


.story-feed-ul {
	width: 80%;
	padding: 0;
	margin: 0;
}

.story-information {
	display: flex;
}

.user-information {
	justify-content: flex-start;
	margin: 5px;
}

.likediv {
	background-color: #494A8F;
	opacity: 75%;
	width: 25px;
	height: 25px;
	border-radius: 20%;
	transition: background-color 0.5s;
	display: flex;
	margin: 5px;
	/* justify-content: flex-end; */
}

.likediv:hover {
	background-color: #9674AB;
	opacity: 100%;
}

.likeScore {
	text-decoration: bold;
	margin: 5px;
}

.feed-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.shortened-story {
	border-radius: 3%;
}

.shortened-story-img {
	margin: 5px;
	height: 50px;
	width: 50px;
	flex-direction: flex-start;
}

.shortened-story-title {
	flex-direction: row;
}

.shortened-story-heading {
	flex-direction: row;
}

.shortened-story-avatar {
	margin: 5px;
	height: 25px;
	width: 25px;
	border-radius: 50%;
}

.shortened-story-name {
	padding: 5px;
	margin: 5px;
}

.shortened-story-likes-amount {
	margin: 5px;
}