.Header {
	position: static;
	top: 0;
	width: 100vw;
	height: 6vh;
	background: #494A8F;
	grid-area: Header;
	display: flex;
}

#displayLoginFormButton {
  position: absolute;
  height: 5vh;
  right: 1%;
  top: 0.5%;
}

.displayLoginFormButton:hover {
  cursor: pointer;
  padding: 1px;
}


/* .left-Items {
	display: flex;
	align-items: center;
	width: 33%;
} */

/* .miniLogo {
	height: 55px;
	width: 70px;
} */

/* .submitStory {
	height: 30px;
} */

/* .right-Items {
	display: flex;
	justify-content: flex-end;
	width: 33%;
} */

/* .profileButton {
	height: 35px;
	right: 5px;
	margin: 7px 10px;
} */

/* .logout-button {
	height: 35px;
	right: 5px;
	margin: 7px 10px;
} */

.Footer {
  grid-area: Footer;
  position: static;
  bottom:0;
  height: 6vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}


.creators-info {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	width: 90%;
	height: 100%;
}

.purple-filter {
	background: #1f1f35;
	opacity: 25%;
	border-radius: 50%;
	transition: opacity 0.75s;
}

.purple-filter:hover {
	opacity: 100%;
}

.person-img {
	height: 35px;
	width: 35px;
	border-radius: 50%;
}

/* .github {
	justify-self: flex-start;
	height: 80%;
	width: 50%;
	background-color: #7374b3;
} */

/* .linkedin {
	justify-self: flex-end;
	height: 80%;
	width: 50%;
	background-color: #7374b3;
} */