.Header {
	position: fixed;
	width: 100%;
	background: #494A8F;
	height: 53px;
	grid-area: Header;
	display: flex;
	justify-content: space-between;
	z-index: 100;
	overflow: hidden;
}

.left-Items {
	display: flex;
	align-items: center;
	width: 33%;
}

.miniLogo {
	height: 55px;
	width: 70px;
}

.submitStory {
	height: 30px;
}

.right-Items {
	display: flex;
	justify-content: flex-end;
	width: 33%;
}

.profileButton {
	height: 35px;
	right: 5px;
	margin: 7px 10px;
}

.logout-button {
	height: 35px;
	right: 5px;
	margin: 7px 10px;
}


.Footer {
	width: 100%;
	background: #1f1f35;
	height: 53px;
	grid-area: Footer;
	display: flex;
	justify-content: space-around;
	overflow: hidden;
}

.aaLogo {
	height: 35px;
	right: 5px;
	margin: 7px 10px;
}

.creators-info {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	width: 90%;
	height: 100%;
}

.purple-filter {
	background: #1f1f35;
	opacity: 25%;
	border-radius: 50%;
	transition: opacity 1s;
}

.purple-filter:hover {
	opacity: 100%;
}

.person-img {
	height: 35px;
	width: 35px;
	border-radius: 50%;
}

.github {
	justify-self: flex-start;
	height: 80%;
	width: 50%;
	background-color: #7374b3;
}

.linkedin {
	justify-self: flex-end;
	height: 80%;
	width: 50%;
	background-color: #7374b3;
}