@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

/* #F0EAE4 
#E0C653 
#CF6A86 
#9674AB 
#494A8F 
#333263 */

body {
  /* padding: 50px; */
  font-family: 'Roboto Mono', monospace;
  color: #F0EAE4;
  background: #494A8F;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #9674AB;
  z-index: 1000;
  height: 200px;
  overflow: hidden;
  text-align: left;
  line-height: 160px;
}

/* a {
  color: #00B7FF;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,
body, header, nav {
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
} */