@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

/* 
#F0EAE4 
#E0C653 
#CF6A86 
#9674AB 
#494A8F 
#1f1f35 */

body {
  padding: 25px;
  font-family: 'Roboto Mono', monospace;
  color: #F0EAE4;
  background: #1f1f35;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #494A8F;
  height: 40px;
  overflow: hidden;
  line-height: 0px;
  border-radius: 1px;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

a {
  color: #9674AB
}

.hidden {
  display: none;
}
/* a {
  color: #00B7FF;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,
body, header, nav {
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
} */