.Container{
    height: 80vh;
    box-shadow: 1vw 2vh 50vh 5px #1f1f35;
}

.featured-story-img>img{
    height: 35vh;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    object-position: 50% 50%;
    margin-top: 2vh;
    margin-bottom: 2vh;
}


.Story-title>h1{
    font-size: 3rem;
    font-weight: 500;
}

/* .Story-body{
    font-weight: 350;
} */

.Story-body>p{
    font-weight: 350;
    padding-bottom: 5vh;
}

.edit-delete{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5vw;
    margin-top: 5vh;
}

#delete-story-button,
#edit-story-button{
  color: #F0EAE4;
  font-size: 0.75rem;
  text-decoration: none;
  border: none;
  border-radius: 3.5px;
  background-color: #494A8F;
  transition: 0.25s all ease;
  height: 2.5vh;
  width: 5vh;
}

#delete-story-button:hover,
#edit-story-button:hover{
    cursor: pointer;
    background-color: #1f1f35;
    color: #494A8F;
    border: 1px solid #494A8F;
}


#delete-story-button:active,
#edit-story-button:active{
    cursor: pointer;
    font-weight: 700;
    background-color: #494A8F;
    color: #E0C653;
}
