.splashLogo {
  height: 100%;
  max-height: 60vh;
  width: 100%;
  max-width: 75vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: brown; */
}

#mainLogo {
  max-height: 50vh;
  max-width: 35vw;
  position: absolute;
  left: 31vw;
  top: 16vh;
  transition: all 0.25s;
}

#logoblur {
  height: 10px;
  min-width: 75vw;
  height: 70vh;
  animation-name: strobe;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transition: all 0.25s;
}

.formButtons {
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 50 vw;
}

#innerFormButtons{
  width: 20vw;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  /* background-color: brown; */
}

#displaySignUpFormButton,
#demoUserButton{
  background-color: #1f1f35;
  color: #F0EAE4;
  border: 0.5px solid #494A8F;
  border-radius: 2.5px;
  width: 6rem;
  height: 2rem;
  transition: all 0.5s;
}

#displaySignUpFormButton:hover,
#demoUserButton:hover{
  cursor: pointer;
  background-color: #494A8F;
  color: #E0C653;
  border: 1px solid #1f1f35;
}

#displaySignUpFormButton:active,
#demoUserButton:active{
  font-weight: 700;
  background-color: #494A8F;
  color: #E0C653;
  border: 1px solid #1f1f35;
}

.signupForm{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

#signUpForm{
  flex-direction: column;
}

.buttons>button{
  color: #F0EAE4;
  font-size: 0.75rem;
  text-decoration: none;
  border: none;
  border-radius: 3.5px;
  background-color: #494A8F;
  transition: 0.25s all ease;
  margin: 1vh;
  height: 2.5vh;
}

.buttons>button:hover{
  background-color: #1f1f35;
  padding: 1px 6px;
  color: #494A8F;
}

.signupForm>input{
  color: #F0EAE4;
  background: 0;
  border: 1px solid#494A8F;
  border: 5%;
  outline: #494A8F;
  width: 25vw;
  height: 2.5vh;
  font-size: .5em;
  transition: all 0.3s 0.2s ease;
  margin: 1.5px
}

.signupForm>input:focus,
.signupForm>input:active{
  background-color: #494A8F;
  -webkit-text-fill-color:#494A8F;
  width: 25.5vw;
  margin: 2px;
}

@media only screen and (max-width: 1600px) {
  #logoblur {
    top: 8vh;
    height: 60vh;
  }
  #mainLogo{
  height: 50vh;
  }
}
@media only screen and (max-width: 1500px) {
  #logoblur {
    top: 9vh;
    height: 60vh;
  }
  #mainLogo{
  height: 45vh;
  }
#displaySignUpFormButton,
#demoUserButton{
  width: 6rem;
  height: 2rem;
}

}
@media only screen and (max-width: 1400px) {
  #logoblur {
    top: 10vh;
    height: 55vh;
  }
    #mainLogo{
  height: 40vh;
  }
}
@media only screen and (max-width: 1300px) {
  #logoblur {
    top: 10vh;
    height: 50vh;
  }
    #mainLogo{
  height: 40vh;
  }
#displaySignUpFormButton,
#demoUserButton{
  width: 6rem;
  height: 2rem;
}
}
@media only screen and (max-width: 1200px) {
  #logoblur {
    top: 10vh;
    height: 45vh;
  }
    #mainLogo{
  height: 35vh;
  top: 21vh;
  left: 31vw;
  }
#displaySignUpFormButton,
#demoUserButton{
  width: 6rem;
  height: 2rem;
}
}
@media only screen and (max-width: 1000px) {
  #logoblur {
    top: 12vh;
    height: 40vh;
  }
  #mainLogo{
    height: 30vh;
    top: 25vh;
    left: 32vw;
  }
#displaySignUpFormButton,
#demoUserButton{
  width: 6rem;
  height: 2rem;
}
}
@media only screen and (max-width: 900px) {
  #logoblur {
    top: 13vh;
    height: 33vh;
    top: 29vh;
    left: 39vw;
  }
#displaySignUpFormButton,
#demoUserButton{
  width: 6rem;
  height: 2rem;
}
}
@media only screen and (max-width: 800px) {
  #logoblur {
    top: 15vh;
    height: 30vh;
  }
  #mainLogo{
    height: 22vh;
    width: 26vh;
    top: 28vh;
    left: 37vw;
  }
#displaySignUpFormButton,
#demoUserButton{
  width: 5.5rem;
}
}
@media only screen and (max-width: 700px) {
  #logoblur {
    top: 15.5vh;
    height: 25vh;
  }
  #mainLogo{
    height: 20vh;
    width: 20vh;
    top: 29vh;
    left: 38vw;
  }
  #displaySignUpFormButton,
  #demoUserButton{
  
    width: 5rem;
  }
}
@media only screen and (max-width: 600px) {
  #logoblur {
    top: 17vh;
    height: 20vh;
  }
  #mainLogo{
    height: 18vh;
    width: 18vh;
    top: 30vh;
    left: 35vw;
  }

  #displaySignUpFormButton,
  #demo{
    font-size: 12px;
    width: 3rem;
  }
}
@media only screen and (max-width: 500px) {
  #logoblur {
    top: 17vh;
    height: 18vh;
  }
    #mainLogo{
    height: 15vh;
    width: 15vh;
    top: 31vh;
    left: 37vw;
  }

  #displaySignUpFormButton,
  #demoUserButton{
    font-size: 10px;
    width: 2.5rem;
    height: 2rem;
  }
}
@media only screen and (max-width: 400px) {
  #logoblur {
    top: 19vh;
    height: 17vh;
  }

  #mainLogo{
    height: 10vh;
    width: 10vh;
    top: 34vh;
    left: 38vw;
  }

  #displaySignUpFormButton,
  #demoUserButton{
    font-size: 8.5px;
    width: 2rem;
    height: 2rem;
  }
}

@keyframes strobe {
  0% {
    opacity: 0%;
    z-index: -1;
  }

  12.5% {
    opacity: 20%;
    z-index: -1;
  }

  25% {
    opacity: 50%;
    z-index: -1;
  }

  35% {
    opacity: 75%;
    z-index: -1;
  }

  50% {
    opacity: 100%;
    z-index: -1;
  }

  62.5% {
    opacity: 75%;
    z-index: -1;
  }

  75% {
    opacity: 50%;
    z-index: -1;
  }

  85% {
    opacity: 25%;
    z-index: -1;
  }

  100% {
    opacity: 0%
  }
}