@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

/* body {
  font-family: 'Roboto Mono', monospace;
  color: #F0EAE4;
  background: #494A8F;
} */

.hidden {
  display: none;
}

.main-content {
  display: flex;
  flex-direction: column;
}

#logoDiv {
  max-height: 35vh;
  max-width: 25vw;
  margin: 0 auto;
}

.splashLogo {
  min-width: 20vw;
  max-width: 25vw;
}

#mainLogo {
  z-index: 100;
}

#logoblur {
  position: absolute;
  z-index: 0;
  min-width: 75vw;
  height: 70vh;
  top: 5vh;
  left: 13.75vw;
  animation-name: strobe;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transition: all 0.25s;
}

@media only screen and (max-width: 1600px) {
  #logoblur {
    top: 8vh;
    height: 60vh;
  }
}
@media only screen and (max-width: 1500px) {
  #logoblur {
    top: 9vh;
    height: 60vh;
  }
}
@media only screen and (max-width: 1400px) {
  #logoblur {
    top: 10vh;
    height: 55vh;
  }
}
@media only screen and (max-width: 1300px) {
  #logoblur {
    top: 10vh;
    height: 50vh;
  }
}
@media only screen and (max-width: 1200px) {
  #logoblur {
    top: 10vh;
    height: 45vh;
  }
}
@media only screen and (max-width: 1000px) {
  #logoblur {
    top: 12vh;
    height: 40vh;
  }
}
@media only screen and (max-width: 900px) {
  #logoblur {
    top: 13vh;
    height: 35vh;
  }
}
@media only screen and (max-width: 800px) {
  #logoblur {
    top: 15vh;
    height: 30vh;
  }
}
@media only screen and (max-width: 700px) {
  #logoblur {
    top: 15.5vh;
    height: 25vh;
  }
}
@media only screen and (max-width: 600px) {
  #logoblur {
    top: 17vh;
    height: 20vh;
  }
}
@media only screen and (max-width: 500px) {
  #logoblur {
    top: 17vh;
    height: 18vh;
  }
}
@media only screen and (max-width: 400px) {
  #logoblur {
    top: 19vh;
    height: 17vh;
  }
}

@keyframes strobe {
  0% {
    opacity: 0%
  }

  12.5% {
    opacity: 20%
  }

  25% {
    opacity: 50%
  }

  35% {
    opacity: 75%
  }

  50% {
    opacity: 100%
  }

  62.5% {
    opacity: 75%
  }

  75% {
    opacity: 50%
  }

  85% {
    opacity: 25%
  }

  100% {
    opacity: 0%
  }
}


.buffer {
  width: 100%;
  height: 125px;
}

.formButtons {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.signupForm {
  display: flex;
  flex-direction: column;
}

/* #login-form {
  flex-direction: column;
}

#submit-login {
  align-self: center;
} */

#displayLoginFormButton {
  position: absolute;
  height: 75%;
  right: 1%;
  margin: 7px 10px;
}

.displayLoginFormButton:hover {
  cursor: pointer;
}