

.displayLoginFormButton {
  object-fit: contain;
  width: 35px;
}


.displayLoginFormButton:hover {
  cursor: pointer;
  padding: 1px;
}

.nav_class li{
  list-style: none;
}



.resize {
  object-fit: contain;
  width: 35px;
}
