.splashLogo {
    height: 40vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}


#mainLogo {
  border-radius: 100%;

}

/* #logoDiv{
    margin-bottom: 0;
    padding-bottom: 0;
} */

/* #logoblur {
  height: 10px;
  min-width: 75vw;
  height: 70vh;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transition: all 0.25s;
} */
