
.profile_img img{
	height: 20vh;
	width: 8vw;
	object-fit: cover;
	object-position: 33% 33%;
	margin-left: 12.5vw;
}



.userinfo {
	background-color: #494A8F;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
	align-items: flex-start;
	margin-left: 10.5vw;
	width: 22.5vw;
	padding: 20px;
}








.bookmarks_title {
	margin-left: 4.5vw;
}




.bookmarks_container {
	background-color: #494A8F;
	opacity: 75%;
	border-radius: 6px;
	margin: 3.25rem;
	padding: 1.1rem;
	overflow: hidden;
}


.bookmarks_container span {
	margin-left: 4.5vw;
}


.eachBookmark_wrap:hover {
	cursor: pointer;
}




.bookmark_img {
	height: 20vh;
  width: 8vw;
  object-fit: cover;
  object-position: 33% 33%;
}






.followers_title{
	margin-left: 4.5vw;
}


.followers_img {
	height: 5.75vh;
	width: 35px;
	border-radius: 5px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}






.stories_title {
	margin-left: 4.5vw;
}




.eachStory_wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: flex-start;
	align-items: center;
	padding: 30px;
	margin-left: 5.5vw;
}




.eachStory_img {
	height: 20vh;
  width: 8vw;
  object-fit: cover;
  object-position: 33% 33%;
}





.eachStory_buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: flex-start;
	align-items: center;
	margin-left: 3.5vw;
	padding: 10px;
}
