@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
/*
#F0EAE4
#E0C653
#CF6A86
#9674AB
#494A8F
#1f1f35
*/

* {
  font-family: 'Roboto', monospace;
}

body {
  color: #F0EAE4;
  font-weight: 600;
  background-color: #1f1f35;
  margin: 0;
}

a {
  color: #F0EAE4;
  text-decoration: none;
}



li {
  list-style: none;
}

.hidden {
  display: none;
}


h1 {
  font-size: 2rem;
}
